@namespace html "http://www.w3.org/1999/xhtml";
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

:host,
:root {
/*  --in-content-button-background-hover: rgb(204, 223, 249) !important; */
}

@supports not -moz-bool-pref("browser.proton.enabled") {
} /** END not Proton **/

/** body for Options in Tab **/
/*
body {
  padding: 28px 40px;
  width: 800px;
  background-color: var(--in-content-box-background);
  color: var(--in-content-page-color);
}
*/

/** body for Options inline **/

body {
  padding-top: 1.5em;
  background-color: var(--in-content-box-background);
  color: var(--in-content-page-color);
}

/* Nicht notwendig, wenn common.css vorhanden ist */
/*
.subcategory:not([hidden]) ~ .subcategory {
  margin-top: 16px;
  padding-top: 16px;
  border-top: 1px solid rgba(211, 211, 211, 0.5);
}
*/

.flex-container {
  display: flex;
  flex-direction: row;
}
.flex-container > .flex-item {
  flex: auto;
}
.flex-container > .raw-item {
}

button {
  min-height: 32px;
/*  margin-top: 1ex; */
/*  margin-bottom: 1ex; */
  margin-left: 6px;
  min-width: 7em;
  text-align: center;
/*  float: right; */
}


input[type="text"] {
}

input[type="checkbox"]:not(.position-null),
input[type="radio"]:not(.position-null) {
  position: relative;
}
input[type="radio"]:not(.position-null) {
  top: 4px;
  left: 5px;
}
input[type="checkbox"]:not(.position-null) {
  top: 4px;
  left: 5px;
}
input[type="checkbox"].position-null {
  margin-inline: 0;
}

input[type="select"],
select {
  padding-top: 0;
  padding-bottom: 0;
}

/* tweak the buggy background for select options */
/* the "option" itself doesn't work, so the whole select hover has to be tweaked */
@media (prefers-color-scheme: dark) {
  select:hover,
  option:hover {
    background-color: rgb(65, 95, 126) !important;
  }
}
@media (prefers-color-scheme: light) {
  select:hover,
  option:hover {
    background-color: rgba(140, 197, 255, 0.6) !important;
  }
}

.subcategory_infotext {
  margin-bottom: 0.6em;
}

.warning {
  margin: 0.5em 0;
  background: #ffe900;
  border: 1px solid #F2D00F;
  border-radius: 2px;
  padding: 0.5em 1em;
  font-size: 90%;
}

.hidden {
  display: none;
}

.disabled {
  opacity: 0.4 !important;
}

.indent {
  margin-left: 30px;
}

.indent > label:first-child {
  margin-left: 6px;
}

.center {
  text-align: center;
}
